<html>
	<head>
		<title>Course Schedule Edit</title>
	</head>
	<body>
		<h1>Edit Hard Constraints</h1>
		<!--List of constraints with form for fillup-->
		
		<h2>Edit Soft Constraints</h2>
		<hr />
		
		<p><button>Edit Schedule</button></p>
		<!--Javascript which takes in all the inputs and creates base schedule-->
		<hr />
		<!--drop down list box of available schedules to pick and maybe finalize-->
		<p><button>Upload/Update Schedule and send notifications to Instructors</button></p>
		<p><button>Finalize Schedule and send notifications to Instructors</button></p>
		<p><a href="adminwelcome.html">back</a></p>
	</body>
</html>
